<ul class="current">
  <li class="toctree-l1 current">
    <a class="current reference internal" href="{{ '/index.html' | relative_url }}">Get Started</a>
    <ul>
      <li class="toctree-l2"><a class="reference internal" href="#introduction">Introduction</a></li>
      <li class="toctree-l2"><a class="reference internal" href="#what-you-need">What You Need</a>
        <ul>
          <li class="toctree-l3"><a class="reference internal" href="#hardware">Hardware</a></li>
          <li class="toctree-l3"><a class="reference internal" href="#software">Software</a></li>
        </ul>
      </li>
      <li class="toctree-l2"><a class="reference internal" href="#installation">Installation</a>
        <ul>
          <li class="toctree-l3"><a class="reference internal" href="#ide">IDE</a></li>
          <li class="toctree-l3"><a class="reference internal" href="#manual-installation">Manual Installation</a></li>
        </ul>
      </li>
      <li class="toctree-l2"><a class="reference internal" href="#build-your-first-project">Build Your First Project</a></li>
      <li class="toctree-l2"><a class="reference internal" href="#uninstall-esp-idf">Uninstall</a></li>
    </ul>
  </li>
  <li class="toctree-l1"><a class="reference internal" href="{{ '/api-reference/' | relative_url }}">API Reference</a></li>
  </ul>
