<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>{{ page.title }} &mdash; {{ site.title }} documentation</title>
  
  <link rel="stylesheet" type="text/css" href="/assets/css/pygments.css" /> 
  <link rel="stylesheet" type="text/css" href="/assets/css/theme.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/theme_overrides.css" />
  
  {% if page.canonical_url %}
    <link rel="canonical" href="{{ page.canonical_url }}" />
  {% endif %}

  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/theme.js"></script>

</head>
<body class="wy-body-for-nav">
  
  {{ content }}

</body>
</html>
